<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<menu id="root-menu" label="Openbox 3">
<item label="Run Apps">
<action name="Execute"><execute>gmrun </execute></action>
</item>
<item label="Browser">
<action name="Execute"><execute>/opt/tor-browser/start-tor-browser </execute></action>
</item>
 <menu id="DevelopmentApplications" label="Development">
  <menu id="DatabasesDevelopment" label="Databases">
       <item label="LibreOffice Base">
       <action name="Execute"><execute>libreoffice --base </execute></action>
     </item>
  </menu> <!-- Databases -->
  <menu id="Development EnvironmentsDevelopment" label="Development Environments">
       <item label="Glade">
       <action name="Execute"><execute>glade </execute></action>
     </item>
  </menu> <!-- Development Environments -->
  <menu id="Web DevelopmentDevelopment" label="Web Development">
       <item label="Bluefish Editor">
       <action name="Execute"><execute>bluefish </execute></action>
     </item>
  </menu> <!-- Web Development -->
      <item label="KUIViewer">
       <action name="Execute"><execute>kuiviewer -caption KUIViewer</execute></action>
     </item>
      <item label="Sublime Text">
       <action name="Execute"><execute>sublimetext</execute></action>
     </item>
 </menu> <!-- Development -->
 <menu id="GamesApplications" label="Games">
  <menu id="StrategyGames" label="Strategy">
       <item label="0 A.D.">
       <action name="Execute"><execute>0ad</execute></action>
     </item>
  </menu> <!-- Strategy -->
 </menu> <!-- Games -->
 <menu id="GraphicsApplications" label="Graphics">
  <menu id="MoreGraphics" label="More">
       <item label="KSnapshot">
       <action name="Execute"><execute>ksnapshot -caption KSnapshot</execute></action>
     </item>
       <item label="Okular">
       <action name="Execute"><execute>okular   -caption Okular</execute></action>
     </item>
  </menu> <!-- More -->
      <item label="GIMP">
       <action name="Execute"><execute>gimp-2.8 </execute></action>
     </item>
      <item label="Inkscape">
       <action name="Execute"><execute>inkscape </execute></action>
     </item>
      <item label="LibreOffice Draw">
       <action name="Execute"><execute>libreoffice --draw </execute></action>
     </item>
      <item label="Ristretto Image Viewer">
       <action name="Execute"><execute>ristretto </execute></action>
     </item>
      <item label="XScanImage">
       <action name="Execute"><execute>/usr/bin/xscanimage</execute></action>
     </item>
 </menu> <!-- Graphics -->
 <menu id="InternetApplications" label="Internet">
  <menu id="MoreInternet" label="More">
       <item label="IM Contacts">
       <action name="Execute"><execute>ktp-contactlist </execute></action>
     </item>
       <item label="KDE IM Log Viewer">
       <action name="Execute"><execute>ktp-log-viewer </execute></action>
     </item>
       <item label="KPPP">
       <action name="Execute"><execute>kppp</execute></action>
     </item>
       <item label="Konqueror">
       <action name="Execute"><execute>kfmclient openProfile webbrowsing</execute></action>
     </item>
       <item label="Tor Browser Setup">
       <action name="Execute"><execute>sh -c '"$(dirname "$*")"/opt/tor-browser/start-tor-browser --detach || ([ ! -x "$(dirname "$*")"/opt/tor-browser/start-tor-browser ] && "$(dirname "$*")"/opt/tor-browser/start-tor-browser --detach)' dummy </execute></action>
     </item>
  </menu> <!-- More -->
      <item label="Chromium Web Browser">
       <action name="Execute"><execute>chromium-browser </execute></action>
     </item>
      <item label="Cutegram">
       <action name="Execute"><execute>cutegram</execute></action>
     </item>
      <item label="Firefox">
       <action name="Execute"><execute>firefox </execute></action>
     </item>
      <item label="Firefox (Beta)">
       <action name="Execute"><execute>firefox-beta </execute></action>
     </item>
      <item label="HexChat">
       <action name="Execute"><execute>hexchat </execute></action>
     </item>
      <item label="MEGASync">
       <action name="Execute"><execute>megasync</execute></action>
     </item>
      <item label="Network Center">
       <action name="Execute"><execute>/usr/bin/draknetcenter</execute></action>
     </item>
      <item label="Pidgin Internet Messenger">
       <action name="Execute"><execute>pidgin</execute></action>
     </item>
      <item label="Skype">
       <action name="Execute"><execute>skype </execute></action>
     </item>
      <item label="Transmission">
       <action name="Execute"><execute>transmission-gtk </execute></action>
     </item>
 </menu> <!-- Internet -->
 <menu id="OfficeApplications" label="Office">
  <menu id="MoreOffice" label="More">
       <item label="Cloud Storage Manager">
       <action name="Execute"><execute>storageservicemanager</execute></action>
     </item>
       <item label="KMail">
       <action name="Execute"><execute>kmail -caption KMail </execute></action>
     </item>
       <item label="KMail Header Theme Editor">
       <action name="Execute"><execute>headerthemeeditor</execute></action>
     </item>
       <item label="PIM Setting Exporter">
       <action name="Execute"><execute>pimsettingexporter</execute></action>
     </item>
       <item label="Sieve Editor">
       <action name="Execute"><execute>sieveeditor</execute></action>
     </item>
       <item label="Vym">
       <action name="Execute"><execute>vym </execute></action>
     </item>
  </menu> <!-- More -->
      <item label="LibreOffice">
       <action name="Execute"><execute>libreoffice </execute></action>
     </item>
      <item label="LibreOffice Calc">
       <action name="Execute"><execute>libreoffice --calc </execute></action>
     </item>
      <item label="LibreOffice Draw">
       <action name="Execute"><execute>libreoffice --draw </execute></action>
     </item>
      <item label="LibreOffice Impress">
       <action name="Execute"><execute>libreoffice --impress </execute></action>
     </item>
      <item label="LibreOffice Math">
       <action name="Execute"><execute>libreoffice --math </execute></action>
     </item>
      <item label="LibreOffice Writer">
       <action name="Execute"><execute>libreoffice --writer </execute></action>
     </item>
 </menu> <!-- Office -->
 <menu id="SciencesApplications" label="Sciences">
  <menu id="MathematicsSciences" label="Mathematics">
       <item label="LibreOffice Math">
       <action name="Execute"><execute>libreoffice --math </execute></action>
     </item>
  </menu> <!-- Mathematics -->
 </menu> <!-- Sciences -->
 <menu id="Sound &amp; VideoApplications" label="Sound &amp; Video">
  <menu id="MoreSound &amp; Video" label="More">
       <item label="Kdenlive">
       <action name="Execute"><execute>kdenlive  -caption Kdenlive </execute></action>
     </item>
       <item label="VLC media player">
       <action name="Execute"><execute>/usr/bin/vlc --started-from-file </execute></action>
     </item>
       <item label="xine">
       <action name="Execute"><execute>xine </execute></action>
     </item>
  </menu> <!-- More -->
      <item label="Audacious">
       <action name="Execute"><execute>audacious </execute></action>
     </item>
      <item label="Gnash SWF Viewer">
       <action name="Execute"><execute>gnash-gtk-launcher </execute></action>
     </item>
      <item label="XCam">
       <action name="Execute"><execute>/usr/bin/xcam</execute></action>
     </item>
 </menu> <!-- Sound & Video -->
 <menu id="ToolsApplications" label="Tools">
  <menu id="EmulatorsTools" label="Emulators">
   <menu id="WineEmulators" label="Wine">
        <item label="Wine Command Line">
       <action name="Execute"><execute>wineconsole cmd</execute></action>
     </item>
        <item label="Wine Configuration">
       <action name="Execute"><execute>winecfg</execute></action>
     </item>
        <item label="Wine File Manager">
       <action name="Execute"><execute>winefile</execute></action>
     </item>
        <item label="Wine Minesweeper">
       <action name="Execute"><execute>winemine</execute></action>
     </item>
        <item label="Wine Notepad">
       <action name="Execute"><execute>notepad</execute></action>
     </item>
        <item label="Wine OLE View">
       <action name="Execute"><execute>wine oleview</execute></action>
     </item>
        <item label="Wine Reboot">
       <action name="Execute"><execute>wineboot</execute></action>
     </item>
        <item label="Wine Registry Editor">
       <action name="Execute"><execute>regedit</execute></action>
     </item>
        <item label="Wine Software Uninstaller">
       <action name="Execute"><execute>wine uninstaller</execute></action>
     </item>
        <item label="Wine WinHelp">
       <action name="Execute"><execute>wine winhlp32</execute></action>
     </item>
        <item label="Wine Wordpad">
       <action name="Execute"><execute>wine wordpad</execute></action>
     </item>
   </menu> <!-- Wine -->
  </menu> <!-- Emulators -->
  <menu id="MoreTools" label="More">
       <item label="Akonaditray">
       <action name="Execute"><execute>akonaditray</execute></action>
     </item>
       <item label="Dolphin">
       <action name="Execute"><execute>dolphin  -caption Dolphin </execute></action>
     </item>
       <item label="KDE System Settings">
       <action name="Execute"><execute>systemsettings -caption KDE System Settings </execute></action>
     </item>
       <item label="KMail Import Wizard">
       <action name="Execute"><execute>importwizard</execute></action>
     </item>
       <item label="KSysGuard">
       <action name="Execute"><execute>ksysguard </execute></action>
     </item>
       <item label="KSystemLog">
       <action name="Execute"><execute>xdg_menu_su ksystemlog  -caption KSystemLog</execute></action>
     </item>
       <item label="KUser">
       <action name="Execute"><execute>xdg_menu_su kuser  -caption KUser</execute></action>
     </item>
       <item label="KWrite">
       <action name="Execute"><execute>kwrite </execute></action>
     </item>
       <item label="Konsole">
       <action name="Execute"><execute>konsole</execute></action>
     </item>
       <item label="Nepomuk Backup">
       <action name="Execute"><execute>nepomukbackup</execute></action>
     </item>
       <item label="Nepomuk Cleaner">
       <action name="Execute"><execute>nepomukcleaner</execute></action>
     </item>
  </menu> <!-- More -->
  <menu id="System ToolsTools" label="System Tools">
       <item label="BleachBit">
       <action name="Execute"><execute>bleachbit</execute></action>
     </item>
       <item label="Cairo-Dock">
       <action name="Execute"><execute>cairo-dock</execute></action>
     </item>
       <item label="Cairo-Dock (Fallback Mode)">
       <action name="Execute"><execute>cairo-dock -A</execute></action>
     </item>
       <item label="File Manager PCManFM">
       <action name="Execute"><execute>pcmanfm </execute></action>
     </item>
       <item label="HP Device Manager">
       <action name="Execute"><execute>hp-toolbox</execute></action>
     </item>
       <item label="HP Sendfax">
       <action name="Execute"><execute>/usr/bin/hp-sendfax</execute></action>
     </item>
       <item label="MEGASync">
       <action name="Execute"><execute>megasync</execute></action>
     </item>
       <item label="Mageia Control Center">
       <action name="Execute"><execute>/usr/bin/drakconf</execute></action>
     </item>
       <item label="Manage Printing">
       <action name="Execute"><execute>xdg-open http://localhost:631/</execute></action>
     </item>
       <item label="Modem Manager GUI">
       <action name="Execute"><execute>modem-manager-gui</execute></action>
     </item>
       <item label="NetApplet">
       <action name="Execute"><execute>/usr/bin/net_applet --force</execute></action>
     </item>
       <item label="Network Center">
       <action name="Execute"><execute>/usr/bin/draknetcenter</execute></action>
     </item>
       <item label="Print Settings">
       <action name="Execute"><execute>system-config-printer</execute></action>
     </item>
       <item label="UNetbootin">
       <action name="Execute"><execute>/usr/bin/unetbootin</execute></action>
     </item>
  </menu> <!-- System Tools -->
      <item label="ChBg">
       <action name="Execute"><execute>chbg</execute></action>
     </item>
      <item label="Conky Manager">
       <action name="Execute"><execute>conky-manager </execute></action>
     </item>
      <item label="Leafpad">
       <action name="Execute"><execute>leafpad </execute></action>
     </item>
      <item label="Openbox Configuration Manager">
       <action name="Execute"><execute>obconf </execute></action>
     </item>
      <item label="Panel tint2">
       <action name="Execute"><execute>tint2conf</execute></action>
     </item>
      <item label="Passwords and Keys">
       <action name="Execute"><execute>/usr/bin/seahorse</execute></action>
     </item>
      <item label="Regional Settings">
       <action name="Execute"><execute>/usr/bin/localedrake</execute></action>
     </item>
      <item label="Screenshot">
       <action name="Execute"><execute>gnome-screenshot --interactive</execute></action>
     </item>
      <item label="XTerm">
       <action name="Execute"><execute>xterm -name Terminal</execute></action>
     </item>
      <item label="Xarchiver">
       <action name="Execute"><execute>xarchiver</execute></action>
     </item>
      <item label="gtk-chtheme">
       <action name="Execute"><execute>gtk-chtheme </execute></action>
     </item>
      <item label="nitrogen">
       <action name="Execute"><execute>nitrogen</execute></action>
     </item>
      <item label="urxvt">
       <action name="Execute"><execute>urxvt</execute></action>
     </item>
 </menu> <!-- Tools -->
     <item label="Software Center">
       <action name="Execute"><execute>/usr/bin/drakrpm</execute></action>
     </item>
     <item label="Exit">
       <action name="Execute"><execute>openbox --exit</execute></action>
     </item>
</menu>
</menu>
</openbox_menu>
